{% extends 'base.html' %}

{% block content%}

<h1>{{cats}}</h1>

{% if category_posts %}

{% for post in category_posts %}
    <li><a href="{% url 'post_detail' post.pk %}"> {{ post.title }}</a>
        - {{ post.author.first_name }}
        {% if user.is_authenticated %}
        - <a href="{% url 'update_post' post.pk %}" >Edit Post</a>
        - <a href="{% url 'delete_post' post.pk %}" >Delete Post</a>
        {% endif %}
        <br>
        {{ post.body|slice:":100"|safe }}</li>
{% endfor %}
{% else %}
    <h3>This category does not exists or does not contain any post!</h3>
{% endif%}

{% endblock %}